@(articles: List[Article],articleForm: play.data.Form[Article])
@* 引数リスト*@
@import helper._
@import models.Article;
@import play.data.Form;

@main("Welcome to Blog") {
Welcome to blog !
@if(articles.length>0) {
	<h1>@articles.size() articles</h1>
	<ul>
        @for(article <- articles) {
            @article.created_at
            	<a href="/articles/show/@article.id">@article.title</a>
            	@form(routes.Application.deleteArticle(article.id)) {
                    @*削除用のフォームを設置 *@
                    <input type="submit" value="Delete">
                    @* 削除ボタン *@
                }
         <br/>
         }
    </ul>
}else{
	<h1>0 article</h1>
	検索結果がありません
}
    
    <h2>Add a new article</h2>

    @form(routes.Application.newArticle()) {
        <input type="submit" value="New">
    }
    
    <h2>Search article</h2>
    @form(routes.Application.searchArticle()) {
        @inputText(articleForm("search"),'_label ->"探したい件名や本文をいれてください")
        <input type="submit" value="Search">
    }
}
