@(
	articles: List[Article],
	articleForm: play.data.Form[Article],
	monthlyCalendar: MonthlyCalendar,
	calendarList: List[Day],
	monthlyForm: play.data.Form[MonthlyForm],
	yearList: LinkedHashMap[String,String],
	monthList: LinkedHashMap[String,String],
	monthlyArticleList: List[Article]
	)
@* 引数リスト*@
@import helper._
@import models.Article;
@import play.data.Form;

@main("Welcome to Blog") {
Welcome to blog !　　<a href="@routes.Application.logout">logout</a>
@if(articles.length>0) {
	<h1>@articles.size() articles</h1>
	<ul>
        @for(article <- articles) {
            @article.created_at
            	<a href="/articles/show/@article.id">@article.title</a>
            	@form(routes.Application.deleteArticle(article.id)) {
                <input type="submit" value="Delete">
                }
         <br/>
         }
    </ul>
}else{
	<h2>0 article</h2>
	検索結果がありません
}
    
    <h2>Add a new article</h2>

    @form(routes.Application.newArticle()) {
        <input type="submit" value="New">
    }
    
    <h2>Search article</h2>
    @form(routes.Application.searchArticle()) {
        @inputText(articleForm("search"),'_label ->"探したい件名や本文をいれてください")
        <input type="submit" value="Search">
    }
    
    <h2>Calendar</h2>
    @monthlyCalendar.getYear() 年　@monthlyCalendar.getMonth()　月
    <br/><br/>
    
    <table border="1" width="150" cellspacing="0" cellpadding="10">
    	<head>
    		<tr>
    			<td>日</td>
    			<td>月</td>
    			<td>火</td>
    			<td>水</td>
    			<td>木</td>
    			<td>金</td>
    			<td>土</td>
    		<tr/>
    	</head>
    	<body>
    	<tr>
	    @for(v <- calendarList){
	    		@if(v.day == 0){
	    			<td></td>
	    		}else{
		    		@if(v.isArticle == true){
		    			<td bgcolor="lightskyblue">@v.day</td>
		    		}else{
		    			<td>@v.day</td>
		    		}
	    		}
	    	@if(v.week == 7){
	    		</tr><tr>
	    	}
	    }
	    </body>
    </table>
    
	@form(routes.Application.monthlyArticle()) {
		@select(
                monthlyForm("year"),options(yearList) , 
                '_label -> ""
        )
        
        @select(
                monthlyForm("month"),options(monthList) , 
                '_label -> ""
        )
        <input type="submit" value="表示">
	}
}
